$menu-width:250px!default;
$bg: linear-gradient(-45deg, #ffde59, #e7333a);
$jaune:#ffde59;
$white: white;

@mixin anim {
    transform : (translateX($menu-width * -1));
    transition-duration:0.3s;
} 

@media only screen and (max-width: 800px) {

    .body{
        display:block;
        text-align: center;
        overflow: hidden;
        margin: 1em;
    }


    .site-pusher .site-container{ height: 100%;}
    .site-container {overflow:hidden; height: 100%; }
    .site-pusher{
        height: 100%;
        transition-duration:(0.3s);
        transform : (translateX(0px));
    }
    .site-content{
        position: absolute;
        top: 66px;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 0;
        overflow-y: scroll;
        background-color: #fff;
        -webkit-overflow-scrolling:touch;
    }
    
   
    .header__icon {
        position: relative;
        display: block ;
        float: left;
        width: 35px;
        height: 35px;
        padding: 1em;

        cursor: pointer;

        &:after{
            content:'';
            position: absolute;
            display: block;
            width: 1rem;
            height: 0;
            box-shadow : (0 10px 0 1px $white,0 16px 0 1px $white, 0 22px 0 1px $white );  
        }
    }

    .menu{
        @include anim();

        position: absolute;
        left: 0;
        top: 0px;
        bottom: 0;
        color:black;
        
        background: $jaune ;
        width: $menu-width;

        display:flex;
        flex-direction: column;

        
        a{
            display: block;
            height: 60px;

            text-align: center;
            line-height: 40px;

            border-bottom: 1px solid black;
        }
    }

    .with--sidebar{
        .site-pusher { 
            transform : (translateX($menu-width)); 
        }
        .site-cache{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color:rgba(0,0,0,0.6);
        }
    }
}

@media only screen and (min-width: 800px) {
    .site-content{
        padding-top: 58px;
      }
}
