/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset perso */
a, del, ins {
  text-decoration: none;
}

a {
  color: inherit;
}

label, button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

input, button {
  outline: 0;
}

code {
  background-color: #ddd;
  padding: 0.3em;
}

img {
  max-width: 100%;
}

@media only screen and (max-width: 800px) {
  .body {
    display: block;
    text-align: center;
    overflow: hidden;
    margin: 1em;
  }

  .site-pusher .site-container {
    height: 100%;
  }

  .site-container {
    overflow: hidden;
    height: 100%;
  }

  .site-pusher {
    height: 100%;
    transition-duration: 0.3s;
    transform: translateX(0px);
  }

  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
  }

  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    padding: 1em;
    cursor: pointer;
  }
  .header__icon:after {
    content: "";
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  }

  .menu {
    transform: translateX(-250px);
    transition-duration: 0.3s;
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0;
    color: black;
    background: #ffde59;
    width: 250px;
    display: flex;
    flex-direction: column;
  }
  .menu a {
    display: block;
    height: 60px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid black;
  }

  .with--sidebar .site-pusher {
    transform: translateX(250px);
  }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
@media only screen and (min-width: 800px) {
  .site-content {
    padding-top: 58px;
  }
}
html, body {
  font-family: "Montserrat", sans-serif;
  color: 229, 229, 229;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 1em;
  padding: 0;
  display: block;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  padding: 1em;
  color: #444343;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

/* HEADER */
a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 66px;
  line-height: 66px;
  color: white;
  background-color: #c20000;
  box-shadow: 0 4px 2px -2px gray;
}

/* MENU */
.menu a {
  font-weight: bold;
  padding: 0 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 800px) {
  .styled-input {
    width: 100%;
  }
}
.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  color: white;
  font-size: 18px;
  cursor: pointer;
  background: #c20000;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 800px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}
input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

@media only screen and (max-width: 800px) {
  .header {
    position: static;
  }
}

/*# sourceMappingURL=style.css.map */
